.main-sidebar .ant-menu-item-selected {
  background: rgb(2 2 2 / 0.2);
}
.main-sidebar .ant-menu-inline .ant-menu-item::after {
  left: 0;
  right: inherit;
}
.main-sidebar .ant-menu-inline .ant-menu-item,
.main-sidebar .ant-menu-item a {
  color: rgba(255, 255, 255, 0.8);
}

.main-sidebar .ant-menu-inline-collapsed-noicon {
  color: rgba(255, 255, 255, 0.8);
}
.main-sidebar .ant-menu-item-group-title {
  padding: 20px 24px;
  color: #fff;
  font-weight: 600;
}

.project-sidebar .ant-menu-inline-collapsed .ant-menu-item-group-title {
  visibility: hidden;
}

.project-sidebar .ant-layout-sider-collapsed .ant-menu-item-group-title {
  display: none;
}

.project-sidebar .main-sidebar .sidebar-menu-fixed.ant-menu-inline-collapsed .ant-menu-item.sidebar-footer-btn {
  position: absolute;
  bottom: 44px;
  width: 100%;
  height: 44px;
  background-color: #2f80ed;
  display: block;
}

.project-sidebar .main-sidebar .sidebar-menu-fixed.ant-menu-inline-collapsed .ant-menu-item.sidebar-footer-btn a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-sidebar .project-main-sidebar-btn {
  display: flex;
  justify-content: center;
}
