/* Header */
.header .anticon-appstore,
.header .anticon-setting {
  font-size: 20px;
  cursor: pointer;
}

.header .anticon-appstore:hover,
.header .anticon-appstore:focus {
  color: #84ba3f;
}

header .ant-menu-root.ant-menu-inline {
  position: absolute;
  top: 67px;
  right: 20px;
  overflow: hidden;
  overflow-y: auto;
  width: 300px;
  max-height: 400px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.12);
}

header .ant-menu-root .ant-menu-item,
header .ant-menu-root .ant-menu-submenu {
  margin-left: 0;
}

header .switch-menu {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: auto;
}

header .switch-menu:hover,
header .switch-menu:active {
  color: #000;
}

header .anticon {
  vertical-align: middle;
}

/* media query */
@media (max-width: 767px) {
  header .navbar-right li {
    margin-left: 20px;
  }

  header .ant-menu-root.ant-menu-inline {
    top: 60px;
    width: 90%;
  }
}
